.btn{
  width: 80%;
  background-color: black;
  padding: 10px 100px;
  color: #fff;
  border: 1px solid black;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  transition: 0.5s;
}

.btn:hover{
  background-color: transparent;
  color: #000;
}